*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-user-select: none;
    user-select: none;
}
html{
    font-size: 10px;
}
body{
width: 100%;
height: 100vh;
background-color: #121014;
display: flex;
justify-content: center;
align-items: center;
overflow: hidden;
position: relative;
}
/* time */
.time{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    font-size: 7rem;
    color:#ffffff ;
    font-family: 'Roboto', sans-serif;
}
.time .colon{
    color: #fb9d82;
    margin: 0 .3rem;
}

/* clock */

.clock{
    position: relative;
    width: 35rem;
    height: 35rem;
    background-color: #222126;
    border-radius: 50%;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .5);
}
.clock .m, .h, .s{
    position: absolute;
    width: 3px;
    left: 50%;
    bottom: 50%;
    transform-origin: bottom;
    border-radius: 3px;
    --rotate: 0;
    /* transform: rotate(calc(var(--rotate) * 1deg)); */
    transform: translateX(-50%) rotate(calc(var(--rotate) * 1deg));
}
.clock .h{
    height: 9rem;
    background-color: #404040;
    width: 6px;
}
.m, .s{
    height: 13rem;
}
.clock .m{
    background-color: #4e4e4e;
    width: 6px;
}
.clock .s{
    background-color: #fb9d82;
}

/* center */

.clock::after{
    content: "";
    width: .7rem;
    height: .7rem;
    border: 3px solid #fb9d82;
    background-color: #232323;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.mode{
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);
}
.mode img{
    width: 3rem;
    height: 3rem;
}
.moon, .sun{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateX(-50%);
}
.mode .moon{
    display: none;
}
.night .mode .moon{
    display: block;
}
.night .mode .sun{
    display: none;
}
p{
    position: absolute;
    bottom: 2rem;
    font-size: 1.3rem;
    font-family: 'roboto', sans-serif;
    color: #404040;
    letter-spacing: .2rem;
    text-shadow: 0 .3px .8px rgba(0, 0, 0, .4);
}
p a{
    color:#4e4e4e ;
    text-decoration: none;
    transition: color .3s ease;
}
p a:hover{
    color: #fb9d82;
}


/* add-button */

.add{
    position: absolute;
    right: 3rem;
    top: 3rem;
    background-color:#fb9d82 ;
    color: #ffffff;
    font-size: 3rem;
    font-weight: 300;
    height: 4.5rem;
    width: 4.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid #fb9d82;
    border-radius: 50%;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .5);
    z-index: 3;
    cursor: pointer;
    transition: all .3s ease;
    outline: none;
}
.add:hover{
    background-color:#f6ab96 ;
    border: 3px solid #f6ab96;
    transform: scale(1.2);
}
.add::before{
    position: absolute;
    content: "";
    top: -.1rem;
    left: -.1rem;
    height: 3.5rem;
    width: 3.5rem;
    background-color:#fb9d82 ;
    border: 3px solid #fb9d82;
    border-radius: 50%;
    z-index: -1;
    animation: scale 3s ease infinite;
}
@keyframes scale{
    0%{
        transform: scale(1);
        opacity: 1;
    }
    100%{
        transform: scale(2);
        opacity: 0;
    }
}
.toggle .add{
    transform: rotate(45deg);
}

/*items*/

.items{
    position: absolute;
    left: 5rem;
    width: 100%;
    height: 100vh;
}
.items.test{
    /* left: 75%;  */
}
.items ul{
    margin: 4rem 0;
    width: 100%;
    height: 100vh;
    position: absolute;
    left: 3rem;
    margin: 4rem 0;
}
.items #ul{
    position: absolute;
    left: 71%;
    margin: 4rem 0;
}

.items ul li{
    width: 25rem;
    height: 17rem;
    background-color: #222126;
    border-radius: 1rem;
    margin-bottom: 3rem;
    position: relative;
}
.location{
    color: #f7f7f7;
    font-size: 2rem;
    position: absolute;
    top: 2rem;
    left: 2rem;
    letter-spacing: .1rem;
    text-shadow: 0 .3px .8px rgba(0, 0, 0, .4);
}
.location .country{
    text-transform: uppercase;
}
.time-def{
    font-size: 1.2rem;
    top: 4.7rem;
    left: 2.2rem;
    position: absolute;
    color: #757575;
    text-shadow: 0 .3px .8px rgba(0, 0, 0, .4);
}
.landmark{
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    filter: invert(22%) sepia(0%) saturate(23%) hue-rotate(148deg) brightness(84%) contrast(99%);
}
.landmark img{
    width: 7rem;
}
.items ul li .time{
    font-size: 4rem;
    position: absolute;
    bottom: -3rem;
    right: 3rem;
}
.search{
    width: 100%;
    height: 100%;
    z-index: -20;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #121014;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity .15s ease-in;
}
.toggle .search{
    opacity: 1;
    z-index: 2;
}
.search .search-input{
    background-color: #222126;
    width: 40rem;
    height: 5rem;
    border: #222126 solid 3px;
    border-radius: 5px;
    font-size: 2rem;
    font-family: 'roboto', sans-serif;
    padding-left: 2rem;
    padding-right: 5rem;
    color: #757575;
    outline:none;
}
.search .submit{
    width: 2.3rem;
    height: 2.3rem;
    position: absolute;
    left: 62%;
    top: 48.2%;
    opacity: 0;
    cursor: pointer;
}
.search img{
    width: 2.3rem;
    position: absolute;
    left: 62%;
    top: 48.2%;
}

/* alert */

.alert-box{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .4);
    display: none;
}
.full .alert-box{
    display: block;
    }
.alert{
    width: 45rem;
    height: 30rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: #222126;
    border-radius: 1rem;
    font-size: 1.8rem;
    color: #f7f7f7;
    letter-spacing: .1rem;
    box-shadow: 0 3px 8px rgba(0, 0, 0, .4);
    display: none;
}
.full .alert{
display: block;
}
.alert img{
    position: absolute;
    width: 9rem;
    top: 7rem;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.alert p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 3.5rem;
    color: #f7f7f7;
    letter-spacing: .3rem;
    text-shadow: 0 .3px 4px rgba(0, 0, 0, .6);
    border-bottom: #757575 1px solid;
    width: 35rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}
.alert span{
    position: absolute;
    width: 10rem;
    height: 4rem;
    bottom: 0rem;
    left: 50%;
    border-radius: .5rem;
    background-color: #404040;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
    font-family: 'Roboto', sans-serif;
    text-shadow: 0 .3px .8px rgba(0, 0, 0, .6);
    box-shadow: 0 .3px 1px rgba(0, 0, 0, .6);
    transition: all .3s ease;
}
.alert span:hover{
    background-color: #fb9d82;
}
